pydantic==2.4.2
pydantic[email]
supabase
pydantic-settings
python-dotenv
fastapi
uvicorn
PyJWT
langchain
langchain-openai
asyncio
langchain-community
fyodorov_utils==0.2.88
fyodorov_llm_agents==0.2.117
litellm