pydantic
pydantic[email]
supabase
pydantic-settings
python-dotenv
fastapi
uvicorn
PyJWT
langchain
langchain-openai
asyncio
langchain-community
fyodorov_utils==0.3.16
fyodorov_llm_agents==0.4.9
litellm